container_scripts/containers/40_maria/image/current_vars
container_scripts/containers/40_maria/image/dockerfile/maria.sh
container_scripts/containers/70_python_django/image/dockerfile/dockerfile_dev
container_scripts/settings/settings.py
container_scripts/settings/settings_env
container_scripts/containers/*/variables/settings.sh
container_scripts/containers/*/image/existing_image_vars
.PROJECT_SETTINGS
settings_files
settings_files/**/*
settings_files/.gitignore
settings_files/env_files
settings_files/env_files/*
settings_files/env_files/.gitignore
