container_scripts/containers/40_maria/image/current_vars
container_scripts/containers/40_maria/image/dockerfiles/maria.sh
container_scripts/containers/70_python_django/image/dockerfiles/dockerfile_dev
container_scripts/settings/settings.py
container_scripts/settings/settings_env
dockerfiles/django
dockerfiles/dockerfile_django_dev
.PROJECT_SETTINGS
settings_files/**/*
!settings_files/env_files
!settings_files/env_files/.gitignore
