
[Unit]
Description=regenerates django secret key
Documentation=https://github.com/millerthegorilla/artisan_scripts
Wants=network.target
After=network-online.target
BindsTo=pod-ceramic_isles_dev_pod.service
After=pod-ceramic_isles_dev_pod.service
Before=container-${django_cont_name}.service
ConditionUser=${user_name}

[Service]
Type=oneshot
TimeoutStopSec=20
ExecStart=/etc/opt/${project_name}/settings/key

[Install]
WantedBy=multi-user.target default.target