
[Unit]
Description=manage.py start service
Documentation=https://github.com/millerthegorilla/artisan_scripts
Wants=network.target
After=network-online.target
BindsTo=container-${django_service}.service
After=container-${django_service}.service

[Service]
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman exec -e PROJECT_NAME=${project_name} -e PYTHONPATH="/etc/opt/${project_name}/settings/:/opt/${project_name}/" -it ${django_cont_name} bash -c "source /home/artisan/django_venv/bin/activate; python /opt/${PROJECT_NAME}/manage.py qcluster"

[Install]
WantedBy=multi-user.target default.target