
[Unit]
Description=Gunicorn start service
Documentation=http://github.com/millerthegorilla/artisan_scripts
Wants=network.target
After=network-online.target
BindsTo=container-${django_service}.service
After=container-${django_service}.service

[Service]
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman exec -it ${django_cont_name} bash -c "killall5 -9 gunicorn; killall5 -9 supervisord; rm /var/run/supervisor.sock; rm /var/run/supervisord.pid; supervisord; supervisorctl start gunicorn"
ExecStop=/usr/bin/podman exec -it ${django_cont_name} bash -c "supervisorctl stop gunicorn"

[Install]
WantedBy=multi-user.target default.target
