DJANGO_CONT_NAME
[Unit]
Description=manage.py runserver
Documentation=https://github.com/millerthegorilla/artisan_scripts
Wants=network.target
After=network-online.target
BindsTo=container-${DJANGO_CONT_NAME}.service
After=container-${DJANGO_CONT_NAME}.service

[Service]
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman exec -e PYTHONPATH="/etc/opt/${PROJECT_NAME}/settings/:/opt/${PROJECT_NAME}/" -it ${DJANGO_CONT_NAME} bash -c "source /home/artisan/django_venv/bin/activate; python /opt/${PROJECT_NAME}/manage.py runserver 0.0.0.0:8000 &>/tmp/manage_output"

[Install]
WantedBy=multi-user.target default.target