
[Unit]
Description=manage.py qcluster in terminal
Documentation=https://github.com/millerthegorilla/artisan_scripts
Wants=network.target
After=network-online.target
BindsTo=container-${DJANGO_CONT_NAME}.service
After=container-${DJANGO_CONT_NAME}.service

[Service]
Restart=on-failure
RestartSec=50
StartLimitIntervalSec=0
TimeoutStartSec=infinity
TimeoutStopSec=300
ExecStart=${TERMINAL_CMD} /usr/bin/podman exec -e PYTHONPATH="/etc/opt/${PROJECT_NAME}/settings/:/opt/${PROJECT_NAME}/" -it ${DJANGO_CONT_NAME} bash -c "source /home/artisan/django_venv/bin/activate; python -u /opt/${PROJECT_NAME}/manage.py qcluster"

[Install]
WantedBy=graphical.target default.target